#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.plafon{
  position: relative;
  margin: 10 auto 0;
  text-align: center;
  width: 720px;
}

.ruleta{
  width: 500px;
  height: 500px;
  background-size: cover;
  background-position: center;
  margin: 0 auto 15px;
}
.central{
  position: absolute;
  right:  0;
  left: 0;
  width: 120px;
  top: 174px;
  margin: auto;
}
img{
  width: 100%;
}

.barra1{
  
}